[submodule "utils/dotbot"]
	path = utils/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh/ohmyzsh"]
	path = zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "zsh/custom/plugins/autodark"]
	path = zsh/custom/plugins/autodark
	url = https://github.com/cravend/autodark
