[submodule "utils/dotbot"]
	path = utils/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zsh/ohmyzsh"]
	path = zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "zsh/custom/plugins/autodark"]
	path = zsh/custom/plugins/autodark
	url = https://github.com/cravend/autodark
[submodule "zsh/custom/plugins/base16-shell"]
	path = zsh/custom/plugins/base16-shell
	url = https://github.com/chriskempson/base16-shell
[submodule "zsh/custom/plugins/zsh-z"]
	path = zsh/custom/plugins/zsh-z
	url = https://github.com/agkozak/zsh-z
