[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "custom/plugins/base16-shell"]
	path = custom/plugins/base16-shell
	url = https://github.com/chriskempson/base16-shell
[submodule "custom/plugins/autodark"]
	path = custom/plugins/autodark
	url = https://github.com/cravend/autodark
[submodule "custom/plugins/zsh-nvm"]
	path = custom/plugins/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm
